@import url('https://fonts.googleapis.com/css2?family=Eater&family=Fontdiner+Swanky&family=Lacquer&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Metal+Mania&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
body{
    font-family: "Merriweather", serif;
}
.homepg{
    height: 100vh;
    width: 100%;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    margin-right: 3%;
}
.navbar{
    display: flex;
    position: fixed;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    top: 0;
    transition: background-color 0.5s;
}
.navbar.scrolled{
    background-color: #888;
    box-shadow: 0 2px 5px rgba(225,162,0,0.2);
}
.navbar-items{
    position: absolute;
    background-color: hsl(32deg 100% 49% /50%);
    backdrop-filter: blur(14px);
    height: 100vh;
    width: 350px;
    right: 0;
    top: 0;
    z-index: 2;
    margin-top: 0;
    transition: all 1s ease-in;
}
.navbar-items ul{
    margin-left: 2%;
    padding-top: 40%;
}
.navbar-items ul li{
    margin: 13% 0;
    margin-left: 15px;
    list-style: none;
}
.navbar-items ul li a{
    color: #fff;
    padding: 9px 25px;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    border: 2px solid transparent;
}
.navbar-items ul li a:hover{
    color: #fff;
    border: 2px solid #fff;
}
.burger{
    z-index: 3;
    color: #fff;
    font-size: 40px;
}
.h-class{
    right: -100%;
}
.v-class{
    right: 0%;
}
/* _________content */
.content{
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
}
.left{
    width: 60%;
}
.left_box{
    width: 40%;
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: left;
}
.left_box h2{
    color: #ea9200;
}
.left_box h1{
    font-size: 4em;
    padding: 2% 0;
}
.left_box p{
    font-size: 12px;
    color: #666;
    line-height: 1.5;
}
.btn{
    padding: 12px 13px;
    margin-top: 3%;
    background: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #000;
}
.btn:hover{
    background: transparent;
    color: #000;
    box-shadow: 3px 28px 43px 11px rgba(0,0,0,0.33);
}
.right{
    width: 40%;
    background: url(img/pic1.png) no-repeat center center/cover;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000;
}
.right img{
    transform: translateX(-50%);
    width: 300px;
}
.text{
    display: flex;
    align-items: baseline;
    color: #fff;
    right: 5%;
    bottom: 5%;
    position: absolute;
}
.line_text{
    font-size: 3em;
}
.line{
    width: 70px;
    height: 4px;
    background-color: #fff;
    border-radius: 15px;
}
/* _______responsive */
@media only screen and (max-width:1077px){
    .left_box{
        left: 23%;
    }
    .left_box h1{
        font-size: 3em;
    }
}
@media only screen and (max-width:770px){
.right{
    height: 70%;
    width: 55%;
}
.right img{
    width: 270px;
}
.left_box{
    width: 90%;
    left: 5%;
    top: 70%;
    transform: translate(0%,0%);
    padding: 5% 0;
}
}